*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../images/bg-pattern.png');
}
.js-img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
  width: 300px;
}
